<div class="container">
  <% if flash[:error] %>
      <div class="alert alert-danger" align="center">
        <%= flash[:error] %>
      </div>
  <% else %>
      <center><h2>Flat Booking Sales <%= @report_type.camelize %>ly Report</h2></center>
      <div  class="table-responsive">
        <table class="table table-bordered">
          <% if !@flats.empty? %>
            <thead>
              <tr>
                <th><%=  @report_type.camelize %></th>
                <th>Amount(Rs)</th>
              </tr>
            </thead>
            <tbody>
              <% @flats.each do |flat,amount| %>
                <tr>
                  <td>
                     <%= @report_type =="month" ? flat.date_of_booking.strftime("%B-%Y") : flat.date_of_booking.strftime("%Y") %>
                  </td>
                  <td>
                    <%= flat.amt %>
                  </td>
                <tr>
              <% end %>
            </tbody>
            <%else%>
             <tr>
               <td>
                 <center><h3>No Records found in the period from <%= @start_date %> to <%= @end_date %></h3></center> 
               </td>
             </tr>
          <%end%>  
        </table>
      </div>
  <%end%>
</div>